<form [formGroup]="form">
  <div class="form-group">
    <label for="oldPass">Old Password</label>
    <input
      formControlName="oldPass"
      id="oldPass"
      type="text"
      class="form-control"
      >
    <div *ngIf="oldPass.touched && !oldPass.valid">
        <div *ngIf="oldPass?.errors?.required" class="alert alert-danger">
          Password is required
        </div>
        <div *ngIf ="oldPass.errors?.shouldBeUnique" class="alert alert-danger">
            It's not valid passworld
        </div>
    </div>
  </div>

  <div class="form-group">
      <label for="newPass">New Password</label>
      <input
        formControlName="newPass"
        id="newPass"
        type="text"
        class="form-control">
      <div *ngIf="newPass.touched && !newPass.valid">
        <div *ngIf="newPass?.errors?.required" class="alert alert-danger">
          Password is required
        </div>
      </div>
  </div>

  <div class="form-group">
      <label for="confirmPass">Confirm Password</label>
      <input
        formControlName="confirmPass"
        id="confirmPass"
        type="text"
        class="form-control">
      <div *ngIf="confirmPass.touched">
        <div *ngIf="confirmPass?.errors?.required" class="alert alert-danger">
          Password is required
        </div>
        <div *ngIf="form.errors.notMatchNewPassword" class="alert alert-danger">
            Password should be same as new Password
        </div>
      </div>
  </div>
  <button class="btn btn-primary">Change Password</button>
</form>
