<!-- <div class="header">
  <h1 (click)="print(followers)">My Followers</h1>
  <div class="contents">
    <ul>
      <li *ngFor="let follower of followers">
        <img class="media-object" [src]="follower.avatar_url" >
        <span class="name">{{follower.login}}</span>
        <span class="url"><a [href]="follower.url">{{follower.url}}</a></span>
      </li>
    </ul>
  </div>
</div> -->

<div class="media" *ngFor="let follower of followers">
  <div class="media-left">
      <img class="media-object" [src]="follower.avatar_url" >
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{follower.login}}</h4>
    <a [href]="follower.url" class="media-object">{{follower.url}}</a>
  </div>
</div>
